<div fxLayout="row">
  <mat-toolbar color="primary">
    <mat-toolbar-row>
      <div class="header" fxFlex="100">
        <div fxFlex="30" fxLayoutAlign="start center">
          <img src="assets/img/angular-logo.png" alt="image">
        </div>
        <div fxFlex="70" fxLayoutAlign="end center">
          <a mat-button routerLink="/">Home</a>
          <a mat-button routerLink="/register">Register</a>
          <a mat-button routerLink="/login">Login</a>
          <a mat-button routerLink="/contact">Contact</a>
        </div>
      </div>
    </mat-toolbar-row>
  </mat-toolbar>
</div>
